<h4 class="text-center"><i class="fa fa-cog"></i> Setting</h4>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card card-body zero bg-secondary  none shadow mb-3">
                <div>
                    <div class="col-md-6">
                        <label class="modal-header text-white mb-3">Change Language:</label>
                        <select class="form-select zero" name="lg" id="">
                            <option value="English">Eng</option>
                            <option value="Kiswahili">Sw</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card card-body zero none bg-secondary text-white mb-3">
                <div class="modal-header"><i class="fa fa-user-circle fa-2x"></i>Profile</div>
                <form action="">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Register </h3>
                        </div>
                        <div class="text-center mb-3">
                            <img src="../../../assets/Profiles/default.jpg" alt=""
                                style="width: 115px; height: 129px; ">
                        </div>
                        <div class="col-md-6">
                            <h4>First Name: Ussi </h4>
                        </div>
                        <div class="col-md-6">
                            <h4>First Name: Khamis </h4>
                        </div>
                        <div class="col-md-6">
                            <h4>Middle Name: Khamis </h4>
                        </div>
                        <div class="col-md-6">
                            <h4>Addreess: Fuoni </h4>
                        </div>
                        <div class="col-md-6">
                            <h4>Email: jumbez@gmail.com </h4>
                        </div>
                            <div class="col-md-6">
                                <h4>Phone: +255 620 346 618 </h4>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success btn-sm"> <i class="fa fa-exchange"></i> Change
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>