<nav class="navbar navbar-expand-lg bg-info shadow bar">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span mat-button [matMenuTriggerFor]="menu" class="bar"><i class="fa fa-bars fa-2x"></i>
            </span>
            <mat-menu #menu="matMenu">
                <a routerLink="home"><button mat-menu-item><i class="fa fa-home"></i> Home</button></a>
                <a routerLink="partient"><button mat-menu-item><i class="fa fa-wheelchair"></i> patients</button></a>
                <a routerLink="emergency"><button mat-menu-item><i class="fa fa-medkit"></i> Emergency</button></a>
                <a routerLink="schedule"><button mat-menu-item><i class="fa fa-calendar"></i> Schedule</button></a>
                <a routerLink="notification"><button mat-menu-item><i class="fa fa-comments"></i> Message</button></a>
                <a routerLink="#"><button mat-menu-item><i class="fa fa-trash"></i> Trash <span class="text-danger">({{trashNum}})</span></button></a>
                <a routerLink=""><button mat-menu-item><i class="fa fa-sign-out"></i> Logout</button></a>
            </mat-menu>
        </a>
    </div>
</nav>
<router-outlet></router-outlet>