<div id="mySidenav" class="sidenav">
    <nav>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="btn-close btn-close-white btn"></span></a>
            <div class="lnk">
                <a routerLink="home"><i class="fa fa-home active"></i> Home</a>
        </div>
        <span class="divider"></span>
        <div class="lnk">
            <a routerLink="partient" class="lnk"><i class="fa fa-wheelchair"></i> patients</a>
        </div>
        <div class="lnk ">
            <a routerLink="emergency" class="lnk"><i class="fa fa-medkit"></i> Emergency (2)</a>
        </div>
        <div class="lnk">
            <a routerLink="schedule" class="lnk"><i class="fa fa-calendar"></i> Schedule</a>
        </div>
        <div class="lnk">
            <a routerLink="notification" class="lnk"><i class="fa fa-comments"></i> Message</a>
        </div>
        <div class="lnk">
            <a routerLink="treat" class="lnk"><i class="fa fa-trash"></i> Treat ({{trashNum}})</a>
        </div>
        <div class="lnk">
            <a routerLink="setting" class="lnk"><i class="fa fa-cogs"></i> Settings</a>
        </div>
        <div class="lnk">
            <a routerLink="" class="lnk"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
    </nav>
</div>
<div id="main">
    <span style="font-size:30px;" class="navbar p-4 navbar-expand-lg mybg text-white"
        onclick="openNav()"><span style="cursor: pointer;">&#9776;</span>&emsp;Doctor</span>
    <router-outlet></router-outlet>