<div class="wrapper">
    <div class="auth-content ">
        <mat-card>
            <div class="text-center">
                <img src="../../assets/p/d4.jpg" alt="" width="20%">
            </div>
            <span class="display-6 text-center mb-3">Login</span>
            <mat-card-content>
                <form (ngSubmit)="onLogin()">
                    <div class="mb-3">
                       <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="{{showPassword ? 'text' : 'password'}}" class="form-control" id="password" [(ngModel)]="password" name="password" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" (change)="showPassword = !showPassword"  class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Show password</label>
                    </div>
                    <div class="text-center">
                       <button type="submit" mat-raised-button color="primary" [disabled]="!(password && username)" class="w-100">Login</button>
                    </div>
                </form>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <a routerLink="account"> <h4 class="text-muted">Create account</h4></a>
                    </div>
                    <div class="col-md-6 text-end">
                        <a href=""> <h4 class="text-muted">Forgot password ?</h4></a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>