
    <div class="card card-body border border-dark  text-center shadow">
     
            <div class="mb-2 " >
                <label for="exampleFormControlInput1" class="form-label">User Name</label>
                <input type="text" class="form-control"placeholder="User name">
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="number" class="form-control"  placeholder="Password">
            </div>
            <div>
                <a routerLink="home1"><button class="btn btn-success">Login</button></a>
            </div>
          

        
    </div>












<router-outlet></router-outlet>