
<!-- my form -->
<div mat-dialog-title>
    <h1>Registration form</h1>
</div>
<!-- nimeeta formGroup kutoka katika component.ts na method ya onFormSubmit -->
<form [formGroup]="patientForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
   <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>fullName</mat-label>
        <input matInput type="text" placeholder="fullName" formControlName="fullName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>PhoneNO</mat-label>
        <input matInput type="number" placeholder="PhoneNumber" formControlName="phoneNo">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="email" formControlName="email">
      </mat-form-field>
      <!-- matDatepicker kutengeneza dob -->
      <mat-form-field appearance="outline">
        <mat-label>date of birth</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="dob">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>place</mat-label>
        <input matInput type="text" placeholder="place" formControlName="place">
      </mat-form-field>
   </div>

   <div class="row">
    <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-label><b>Gender</b></mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      
   </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button matDialogClose="no">cancle</button>
    <button mat-raised-button color="primary">save</button>
</div>
</form>
