<div id="mySidenav" class="sidenav">
    <nav>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="btn-close btn-close-white btn"></span></a>
            <div class="lnk">
                <a routerLink="home4"><i class="fa fa-home active text-white"></i> Home</a>
        </div>
        <span class="divider"></span>
        <div class="lnk">
            <a routerLink="regester1" class="lnk"><i class="fa fa-users text-white" ></i> Users</a>
        </div>
        <div class="lnk ">
            <a routerLink="regester_user" class="lnk"><i class="fa fa-wheelchair"></i> Pertients</a>
        </div>
        
        <div class="lnk">
            <a routerLink="admin_setting" class="lnk"><i class="fa fa-cogs"></i> Settings</a>
        </div>
        <div class="lnk">
            <a routerLink="general_report" class="lnk"><i class="fa fa-file-pdf"></i> Report</a>
        </div>
        <div class="lnk">
            <a routerLink="" class="lnk"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
    </nav>
</div>
<div id="main">
    <span style="font-size:30px;" class="navbar p-3 navbar-expand-lg mybg text-white fw-light"
        onclick="openNav()"><span style="cursor: pointer;">&#9776;</span>&ensp;Manager</span>
    <router-outlet></router-outlet>