<div class="container-fluid">
    <div class="mt-3">
    <div class="h5 text-center text-muted my-0"><i class="fa fa-home text-secondary"></i> HOME</div>
    <div class="row p-4 text-white">
        <!-- first-card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="mb-4">
                <div class="card card-body zero none bg-secondary text-white">
                    <div class="row align-items-center fw-light">
                        <div class="col mr-2">
                            <div class="fw-light h6 ">Managers</div>
                            <div class="h5 text-center fw-light">
                                5
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-user-tie fa-3x"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- second-card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="mb-4">
                <div class="card card-body zero none bg-secondary text-white">
                    <div class="row align-items-center fw-light">
                        <div class="col mr-2">
                            <div class="fw-light h6 ">Doctors</div>
                            <div class="h5 text-center fw-light">
                                15
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-user-doctor fa-3x"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- third-card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="mb-4">
                <div class="card card-body zero none bg-secondary text-white">
                    <div class="row align-items-center fw-light">
                        <div class="col mr-2">
                            <div class="fw-light h6 ">Labtecht</div>
                            <div class="h5 text-center fw-light">
                                5
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-flask fa-3x"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- forth-card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="mb-4">
                <div class="card card-body zero none bg-secondary text-white">
                    <div class="row align-items-center fw-light">
                        <div class="col mr-2">
                            <div class="fw-light h6 ">Partients</div>
                            <div class="h5 text-center fw-light">
                                63
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-wheelchair fa-3x"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>