<div class="h5 text-center text-muted my-0"><i class="fa fa-medkit text-primary mt-4"></i> EMERGENCE</div>
<div class="container p-4">
    <h3 class="text-mutem text-danger">Please elaborate your probleam for easy to get help</h3>
        <div class="modal-header card-body mybg text-white"><i class="fas fa-comments"></i> Emergence </div>
        <div class="card shadow p-3">
            <form class="text-center" (ngSubmit)="onSubmit">
                <div class="row">
                    <textarea name="" id="" class="form-control zero mb-3" placeholder="Write your health problem here"
                        cols="50" rows="8" name="emeregence" [(ngModel)]="test.emergence"></textarea>
                </div>
                <div class="">
                    <button type="submit" name="submit" class="btn btn-success">Send</button>
                </div>
            </form>
        </div>
</div>