<!-- nimeeta formGroup kutoka katika component.ts na method ya onFormSubmit -->
<form [formGroup]="doctorForm" (ngSubmit)="onFormSubmit()">
    <h1>Update doctor</h1><hr>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>doctor name</mat-label>
          <input matInput type="text" placeholder="doctor name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>Address</mat-label>
          <input matInput type="text" placeholder="Addresse" formControlName="address">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>email</mat-label>
          <input matInput type="text" placeholder="email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="example-full-width ">
          <mat-label>PhoneNumber</mat-label>
          <input matInput type="number" placeholder="PhoneNumber" formControlName="phoneNo">
        </mat-form-field>
      </div>
     

     
  
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <div mat-dialog-actions>
          <button mat-raised-button class="btn btn-danger" matDialogClose="no">Close</button>
          <button mat-raised-button color="primary">save</button>
        </div>
      </div>
    </div>
    
  </form>