<nav class="navbar navbar-expand-lg bg-warning shadow-sm bottom bar">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span mat-button [matMenuTriggerFor]="menu" class="bar"><i class="fa fa-bars fa-2x"></i>
            </span>
            <mat-menu #menu="matMenu">
                <a routerLink="home1"><button mat-menu-item ><i class="fa fa-home"></i> Home</button></a>
                <a routerLink="patient"><button mat-menu-item><i class="fa fa-wheelchair"></i> patients</button></a>
                <a routerLink="#"><button mat-menu-item><i class="fa fa-cogs"></i> Settings</button></a>
                <a routerLink=""><button mat-menu-item><i class="fa fa-sign-out"></i> Logout</button></a>
            </mat-menu>
        </a>
    </div>
</nav>
<div class="h5 text-center text-muted my-3 text-uppercase">YOU LOGIN AS [<span class="text-warning"> {{name}} </span>]</div>
<router-outlet></router-outlet>