<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <h1>Staff Form</h1>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="example-full-width ">
        <mat-label>Full_Name</mat-label>
        <input matInput type="text" placeholder="full_name" formControlName="full_name">
      </mat-form-field>
    </div>
  
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="example-full-width ">
        <mat-label>age</mat-label>
        <input matInput type="text" placeholder="age" formControlName="age">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="example-full-width ">
        <mat-label>Phone_NO</mat-label>
        <input matInput type="number" placeholder="PhoneNumber" formControlName="phone_No">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="example-full-width ">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="email" formControlName="email">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="example-full-width ">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="example-full-width ">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="example-full-width ">
        <mat-label>Address</mat-label>
        <input matInput type="text" formControlName="address">
      </mat-form-field>
    </div>
    <!-- <div class="col-sm-6">
      <mat-form-field appearance="outline" class="example-full-width ">
        <mat-label>status</mat-label>
        <input matInput type="text" placeholder="status" formControlName="status">
      </mat-form-field>
    </div> -->
  
  
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="example-full-width ">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role_name">
          <mat-option value="doctor">doctor</mat-option>
          <mat-option value="regester">regester</mat-option>
          <mat-option value="lab">lab</mat-option>
          
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div mat-dialog-actions>
        <button mat-raised-button color="warn" class="btn btn-danger" matDialogClose="no">Close</button>
        <button mat-raised-button color="primary">save</button>
      </div>
    </div>
  </div>

</form>