<div class="container mt-4">
    <mat-card class="shadow">
        <div class="modal-header p-1 text-white mybg">
            <h4 class="fw-light"><i class="fas fa-doctor"></i>HEALTH STATUS:</h4>
            <span class="btn"><i class="fa fa-print "></i> Print Result</span>

        </div>
        <div class="row">
            
        </div>
        <h4 class="p-3 text-end">Clinick date: <span class="text-danger">29-23-2009</span> 
        </h4>
        <div class="row p-3">
            <div class="col-md-4 mb-3">
                <label for="hiv">
                    HIV RESULT:
                </label>
                <input type="text" class="form-control" placeholder="Positive" readonly>
            </div>
            <div class="col-md-4 mb-3">
                <label for="hiv">
                    PRESSURE:
                </label>
                <input type="text" class="form-control" placeholder="Positive" readonly>
            </div>
            <div class="col-md-4 mb-3">
                <label for="hiv">
                    WHEIGHT:
                </label>
                <input type="text" class="form-control" placeholder="Positive" readonly>
            </div>
            <div class="col-md-4 mb-3">
                <label for="hiv">
                    AMOUNT OF BLOOD:
                </label>
                <input type="text" class="form-control" placeholder="Positive" readonly>
            </div>
            <div class="col-md-4 mb-3">
                <label for="hiv">
                    AMOUNT OF BLOOD:
                </label>
                <input type="text" class="form-control" placeholder="Positive" readonly>
            </div>
        </div>
    </mat-card>
</div>
